@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,800|Oswald&display=swap);
.light {
  font-family: "Open Sans", sans-serif;
  color: #323133;
}

.light .color-pri {
  color: #323133;
}

.light .color-pri-hov:hover {
  background-color: rgba(50, 49, 51, 0.1);
}

.light .bg-pri {
  background-color: #323133;
}

.light .color-sec {
  color: #2e3533;
}

.light .color-sec-hov:hover {
  background-color: rgba(46, 53, 51, 0.1);
}

.light .bg-sec {
  background-color: #2e3533;
}

.light .color-w {
  color: white;
}

.light .color-w-hov:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.light .bg-w {
  background-color: white;
}

.light .color-b {
  color: black;
}

.light .color-b-hov:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.light .bg-b {
  background-color: black;
}

.light .fpri {
  font-family: "Open Sans";
}

.light .fsec {
  font-family: "Oswald";
}

@media (min-width: 0px) {
  .g1 {
    width: 50%;
  }
  .g2 {
    width: 100%;
  }
  .g3 {
    width: 100%;
  }
  .g4 {
    width: 100%;
  }
  .g5 {
    width: 100%;
  }
  .g6 {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .g1 {
    width: 33.33333%;
  }
  .g2 {
    width: 66.66667%;
  }
  .g3 {
    width: 100%;
  }
  .g4 {
    width: 100%;
  }
  .g5 {
    width: 100%;
  }
  .g6 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .g1 {
    width: 25%;
  }
  .g2 {
    width: 50%;
  }
  .g3 {
    width: 75%;
  }
  .g4 {
    width: 100%;
  }
  .g5 {
    width: 100%;
  }
  .g6 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .g1 {
    width: 20%;
  }
  .g2 {
    width: 40%;
  }
  .g3 {
    width: 60%;
  }
  .g4 {
    width: 80%;
  }
  .g5 {
    width: 100%;
  }
  .g6 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .g1 {
    width: 16.66667%;
  }
  .g2 {
    width: 33.33333%;
  }
  .g3 {
    width: 50%;
  }
  .g4 {
    width: 66.66667%;
  }
  .g5 {
    width: 83.33333%;
  }
  .g6 {
    width: 100%;
  }
}

@media (min-width: 0px) {
  .wrap {
    margin: 0 auto;
  }
  .wrap-1-1 {
    margin: 1vh 1vw;
  }
  .wrap-1-2 {
    margin: 1vh 2vw;
  }
  .wrap-1-3 {
    margin: 1vh 3vw;
  }
  .wrap-1-4 {
    margin: 1vh 4vw;
  }
  .wrap-1-5 {
    margin: 1vh 5vw;
  }
  .wrap-1-6 {
    margin: 1vh 6vw;
  }
  .wrap-1-7 {
    margin: 1vh 7vw;
  }
  .wrap-1-8 {
    margin: 1vh 8vw;
  }
  .wrap-1-9 {
    margin: 1vh 9vw;
  }
  .wrap-1-10 {
    margin: 1vh 10vw;
  }
  .wrap-2-1 {
    margin: 2vh 1vw;
  }
  .wrap-2-2 {
    margin: 2vh 2vw;
  }
  .wrap-2-3 {
    margin: 2vh 3vw;
  }
  .wrap-2-4 {
    margin: 2vh 4vw;
  }
  .wrap-2-5 {
    margin: 2vh 5vw;
  }
  .wrap-2-6 {
    margin: 2vh 6vw;
  }
  .wrap-2-7 {
    margin: 2vh 7vw;
  }
  .wrap-2-8 {
    margin: 2vh 8vw;
  }
  .wrap-2-9 {
    margin: 2vh 9vw;
  }
  .wrap-2-10 {
    margin: 2vh 10vw;
  }
  .wrap-3-1 {
    margin: 3vh 1vw;
  }
  .wrap-3-2 {
    margin: 3vh 2vw;
  }
  .wrap-3-3 {
    margin: 3vh 3vw;
  }
  .wrap-3-4 {
    margin: 3vh 4vw;
  }
  .wrap-3-5 {
    margin: 3vh 5vw;
  }
  .wrap-3-6 {
    margin: 3vh 6vw;
  }
  .wrap-3-7 {
    margin: 3vh 7vw;
  }
  .wrap-3-8 {
    margin: 3vh 8vw;
  }
  .wrap-3-9 {
    margin: 3vh 9vw;
  }
  .wrap-3-10 {
    margin: 3vh 10vw;
  }
  .wrap-4-1 {
    margin: 4vh 1vw;
  }
  .wrap-4-2 {
    margin: 4vh 2vw;
  }
  .wrap-4-3 {
    margin: 4vh 3vw;
  }
  .wrap-4-4 {
    margin: 4vh 4vw;
  }
  .wrap-4-5 {
    margin: 4vh 5vw;
  }
  .wrap-4-6 {
    margin: 4vh 6vw;
  }
  .wrap-4-7 {
    margin: 4vh 7vw;
  }
  .wrap-4-8 {
    margin: 4vh 8vw;
  }
  .wrap-4-9 {
    margin: 4vh 9vw;
  }
  .wrap-4-10 {
    margin: 4vh 10vw;
  }
  .wrap-5-1 {
    margin: 5vh 1vw;
  }
  .wrap-5-2 {
    margin: 5vh 2vw;
  }
  .wrap-5-3 {
    margin: 5vh 3vw;
  }
  .wrap-5-4 {
    margin: 5vh 4vw;
  }
  .wrap-5-5 {
    margin: 5vh 5vw;
  }
  .wrap-5-6 {
    margin: 5vh 6vw;
  }
  .wrap-5-7 {
    margin: 5vh 7vw;
  }
  .wrap-5-8 {
    margin: 5vh 8vw;
  }
  .wrap-5-9 {
    margin: 5vh 9vw;
  }
  .wrap-5-10 {
    margin: 5vh 10vw;
  }
  .wrap-6-1 {
    margin: 6vh 1vw;
  }
  .wrap-6-2 {
    margin: 6vh 2vw;
  }
  .wrap-6-3 {
    margin: 6vh 3vw;
  }
  .wrap-6-4 {
    margin: 6vh 4vw;
  }
  .wrap-6-5 {
    margin: 6vh 5vw;
  }
  .wrap-6-6 {
    margin: 6vh 6vw;
  }
  .wrap-6-7 {
    margin: 6vh 7vw;
  }
  .wrap-6-8 {
    margin: 6vh 8vw;
  }
  .wrap-6-9 {
    margin: 6vh 9vw;
  }
  .wrap-6-10 {
    margin: 6vh 10vw;
  }
  .wrap-7-1 {
    margin: 7vh 1vw;
  }
  .wrap-7-2 {
    margin: 7vh 2vw;
  }
  .wrap-7-3 {
    margin: 7vh 3vw;
  }
  .wrap-7-4 {
    margin: 7vh 4vw;
  }
  .wrap-7-5 {
    margin: 7vh 5vw;
  }
  .wrap-7-6 {
    margin: 7vh 6vw;
  }
  .wrap-7-7 {
    margin: 7vh 7vw;
  }
  .wrap-7-8 {
    margin: 7vh 8vw;
  }
  .wrap-7-9 {
    margin: 7vh 9vw;
  }
  .wrap-7-10 {
    margin: 7vh 10vw;
  }
  .wrap-8-1 {
    margin: 8vh 1vw;
  }
  .wrap-8-2 {
    margin: 8vh 2vw;
  }
  .wrap-8-3 {
    margin: 8vh 3vw;
  }
  .wrap-8-4 {
    margin: 8vh 4vw;
  }
  .wrap-8-5 {
    margin: 8vh 5vw;
  }
  .wrap-8-6 {
    margin: 8vh 6vw;
  }
  .wrap-8-7 {
    margin: 8vh 7vw;
  }
  .wrap-8-8 {
    margin: 8vh 8vw;
  }
  .wrap-8-9 {
    margin: 8vh 9vw;
  }
  .wrap-8-10 {
    margin: 8vh 10vw;
  }
  .wrap-9-1 {
    margin: 9vh 1vw;
  }
  .wrap-9-2 {
    margin: 9vh 2vw;
  }
  .wrap-9-3 {
    margin: 9vh 3vw;
  }
  .wrap-9-4 {
    margin: 9vh 4vw;
  }
  .wrap-9-5 {
    margin: 9vh 5vw;
  }
  .wrap-9-6 {
    margin: 9vh 6vw;
  }
  .wrap-9-7 {
    margin: 9vh 7vw;
  }
  .wrap-9-8 {
    margin: 9vh 8vw;
  }
  .wrap-9-9 {
    margin: 9vh 9vw;
  }
  .wrap-9-10 {
    margin: 9vh 10vw;
  }
  .wrap-10-1 {
    margin: 10vh 1vw;
  }
  .wrap-10-2 {
    margin: 10vh 2vw;
  }
  .wrap-10-3 {
    margin: 10vh 3vw;
  }
  .wrap-10-4 {
    margin: 10vh 4vw;
  }
  .wrap-10-5 {
    margin: 10vh 5vw;
  }
  .wrap-10-6 {
    margin: 10vh 6vw;
  }
  .wrap-10-7 {
    margin: 10vh 7vw;
  }
  .wrap-10-8 {
    margin: 10vh 8vw;
  }
  .wrap-10-9 {
    margin: 10vh 9vw;
  }
  .wrap-10-10 {
    margin: 10vh 10vw;
  }
}

@media (min-width: 992px) {
  .wrap-1-1 {
    margin: 0.8vh 0.8vw;
  }
  .wrap-1-2 {
    margin: 0.8vh 1.6vw;
  }
  .wrap-1-3 {
    margin: 0.8vh 2.4vw;
  }
  .wrap-1-4 {
    margin: 0.8vh 3.2vw;
  }
  .wrap-1-5 {
    margin: 0.8vh 4vw;
  }
  .wrap-1-6 {
    margin: 0.8vh 4.8vw;
  }
  .wrap-1-7 {
    margin: 0.8vh 5.6vw;
  }
  .wrap-1-8 {
    margin: 0.8vh 6.4vw;
  }
  .wrap-1-9 {
    margin: 0.8vh 7.2vw;
  }
  .wrap-1-10 {
    margin: 0.8vh 8vw;
  }
  .wrap-2-1 {
    margin: 1.6vh 0.8vw;
  }
  .wrap-2-2 {
    margin: 1.6vh 1.6vw;
  }
  .wrap-2-3 {
    margin: 1.6vh 2.4vw;
  }
  .wrap-2-4 {
    margin: 1.6vh 3.2vw;
  }
  .wrap-2-5 {
    margin: 1.6vh 4vw;
  }
  .wrap-2-6 {
    margin: 1.6vh 4.8vw;
  }
  .wrap-2-7 {
    margin: 1.6vh 5.6vw;
  }
  .wrap-2-8 {
    margin: 1.6vh 6.4vw;
  }
  .wrap-2-9 {
    margin: 1.6vh 7.2vw;
  }
  .wrap-2-10 {
    margin: 1.6vh 8vw;
  }
  .wrap-3-1 {
    margin: 2.4vh 0.8vw;
  }
  .wrap-3-2 {
    margin: 2.4vh 1.6vw;
  }
  .wrap-3-3 {
    margin: 2.4vh 2.4vw;
  }
  .wrap-3-4 {
    margin: 2.4vh 3.2vw;
  }
  .wrap-3-5 {
    margin: 2.4vh 4vw;
  }
  .wrap-3-6 {
    margin: 2.4vh 4.8vw;
  }
  .wrap-3-7 {
    margin: 2.4vh 5.6vw;
  }
  .wrap-3-8 {
    margin: 2.4vh 6.4vw;
  }
  .wrap-3-9 {
    margin: 2.4vh 7.2vw;
  }
  .wrap-3-10 {
    margin: 2.4vh 8vw;
  }
  .wrap-4-1 {
    margin: 3.2vh 0.8vw;
  }
  .wrap-4-2 {
    margin: 3.2vh 1.6vw;
  }
  .wrap-4-3 {
    margin: 3.2vh 2.4vw;
  }
  .wrap-4-4 {
    margin: 3.2vh 3.2vw;
  }
  .wrap-4-5 {
    margin: 3.2vh 4vw;
  }
  .wrap-4-6 {
    margin: 3.2vh 4.8vw;
  }
  .wrap-4-7 {
    margin: 3.2vh 5.6vw;
  }
  .wrap-4-8 {
    margin: 3.2vh 6.4vw;
  }
  .wrap-4-9 {
    margin: 3.2vh 7.2vw;
  }
  .wrap-4-10 {
    margin: 3.2vh 8vw;
  }
  .wrap-5-1 {
    margin: 4vh 0.8vw;
  }
  .wrap-5-2 {
    margin: 4vh 1.6vw;
  }
  .wrap-5-3 {
    margin: 4vh 2.4vw;
  }
  .wrap-5-4 {
    margin: 4vh 3.2vw;
  }
  .wrap-5-5 {
    margin: 4vh 4vw;
  }
  .wrap-5-6 {
    margin: 4vh 4.8vw;
  }
  .wrap-5-7 {
    margin: 4vh 5.6vw;
  }
  .wrap-5-8 {
    margin: 4vh 6.4vw;
  }
  .wrap-5-9 {
    margin: 4vh 7.2vw;
  }
  .wrap-5-10 {
    margin: 4vh 8vw;
  }
  .wrap-6-1 {
    margin: 4.8vh 0.8vw;
  }
  .wrap-6-2 {
    margin: 4.8vh 1.6vw;
  }
  .wrap-6-3 {
    margin: 4.8vh 2.4vw;
  }
  .wrap-6-4 {
    margin: 4.8vh 3.2vw;
  }
  .wrap-6-5 {
    margin: 4.8vh 4vw;
  }
  .wrap-6-6 {
    margin: 4.8vh 4.8vw;
  }
  .wrap-6-7 {
    margin: 4.8vh 5.6vw;
  }
  .wrap-6-8 {
    margin: 4.8vh 6.4vw;
  }
  .wrap-6-9 {
    margin: 4.8vh 7.2vw;
  }
  .wrap-6-10 {
    margin: 4.8vh 8vw;
  }
  .wrap-7-1 {
    margin: 5.6vh 0.8vw;
  }
  .wrap-7-2 {
    margin: 5.6vh 1.6vw;
  }
  .wrap-7-3 {
    margin: 5.6vh 2.4vw;
  }
  .wrap-7-4 {
    margin: 5.6vh 3.2vw;
  }
  .wrap-7-5 {
    margin: 5.6vh 4vw;
  }
  .wrap-7-6 {
    margin: 5.6vh 4.8vw;
  }
  .wrap-7-7 {
    margin: 5.6vh 5.6vw;
  }
  .wrap-7-8 {
    margin: 5.6vh 6.4vw;
  }
  .wrap-7-9 {
    margin: 5.6vh 7.2vw;
  }
  .wrap-7-10 {
    margin: 5.6vh 8vw;
  }
  .wrap-8-1 {
    margin: 6.4vh 0.8vw;
  }
  .wrap-8-2 {
    margin: 6.4vh 1.6vw;
  }
  .wrap-8-3 {
    margin: 6.4vh 2.4vw;
  }
  .wrap-8-4 {
    margin: 6.4vh 3.2vw;
  }
  .wrap-8-5 {
    margin: 6.4vh 4vw;
  }
  .wrap-8-6 {
    margin: 6.4vh 4.8vw;
  }
  .wrap-8-7 {
    margin: 6.4vh 5.6vw;
  }
  .wrap-8-8 {
    margin: 6.4vh 6.4vw;
  }
  .wrap-8-9 {
    margin: 6.4vh 7.2vw;
  }
  .wrap-8-10 {
    margin: 6.4vh 8vw;
  }
  .wrap-9-1 {
    margin: 7.2vh 0.8vw;
  }
  .wrap-9-2 {
    margin: 7.2vh 1.6vw;
  }
  .wrap-9-3 {
    margin: 7.2vh 2.4vw;
  }
  .wrap-9-4 {
    margin: 7.2vh 3.2vw;
  }
  .wrap-9-5 {
    margin: 7.2vh 4vw;
  }
  .wrap-9-6 {
    margin: 7.2vh 4.8vw;
  }
  .wrap-9-7 {
    margin: 7.2vh 5.6vw;
  }
  .wrap-9-8 {
    margin: 7.2vh 6.4vw;
  }
  .wrap-9-9 {
    margin: 7.2vh 7.2vw;
  }
  .wrap-9-10 {
    margin: 7.2vh 8vw;
  }
  .wrap-10-1 {
    margin: 8vh 0.8vw;
  }
  .wrap-10-2 {
    margin: 8vh 1.6vw;
  }
  .wrap-10-3 {
    margin: 8vh 2.4vw;
  }
  .wrap-10-4 {
    margin: 8vh 3.2vw;
  }
  .wrap-10-5 {
    margin: 8vh 4vw;
  }
  .wrap-10-6 {
    margin: 8vh 4.8vw;
  }
  .wrap-10-7 {
    margin: 8vh 5.6vw;
  }
  .wrap-10-8 {
    margin: 8vh 6.4vw;
  }
  .wrap-10-9 {
    margin: 8vh 7.2vw;
  }
  .wrap-10-10 {
    margin: 8vh 8vw;
  }
}

@media (min-width: 0px) {
  .cont-1-1 {
    padding: 1vh 1vw;
  }
  .cont-1-2 {
    padding: 1vh 2vw;
  }
  .cont-1-3 {
    padding: 1vh 3vw;
  }
  .cont-1-4 {
    padding: 1vh 4vw;
  }
  .cont-1-5 {
    padding: 1vh 5vw;
  }
  .cont-1-6 {
    padding: 1vh 6vw;
  }
  .cont-1-7 {
    padding: 1vh 7vw;
  }
  .cont-1-8 {
    padding: 1vh 8vw;
  }
  .cont-1-9 {
    padding: 1vh 9vw;
  }
  .cont-1-10 {
    padding: 1vh 10vw;
  }
  .cont-2-1 {
    padding: 2vh 1vw;
  }
  .cont-2-2 {
    padding: 2vh 2vw;
  }
  .cont-2-3 {
    padding: 2vh 3vw;
  }
  .cont-2-4 {
    padding: 2vh 4vw;
  }
  .cont-2-5 {
    padding: 2vh 5vw;
  }
  .cont-2-6 {
    padding: 2vh 6vw;
  }
  .cont-2-7 {
    padding: 2vh 7vw;
  }
  .cont-2-8 {
    padding: 2vh 8vw;
  }
  .cont-2-9 {
    padding: 2vh 9vw;
  }
  .cont-2-10 {
    padding: 2vh 10vw;
  }
  .cont-3-1 {
    padding: 3vh 1vw;
  }
  .cont-3-2 {
    padding: 3vh 2vw;
  }
  .cont-3-3 {
    padding: 3vh 3vw;
  }
  .cont-3-4 {
    padding: 3vh 4vw;
  }
  .cont-3-5 {
    padding: 3vh 5vw;
  }
  .cont-3-6 {
    padding: 3vh 6vw;
  }
  .cont-3-7 {
    padding: 3vh 7vw;
  }
  .cont-3-8 {
    padding: 3vh 8vw;
  }
  .cont-3-9 {
    padding: 3vh 9vw;
  }
  .cont-3-10 {
    padding: 3vh 10vw;
  }
  .cont-4-1 {
    padding: 4vh 1vw;
  }
  .cont-4-2 {
    padding: 4vh 2vw;
  }
  .cont-4-3 {
    padding: 4vh 3vw;
  }
  .cont-4-4 {
    padding: 4vh 4vw;
  }
  .cont-4-5 {
    padding: 4vh 5vw;
  }
  .cont-4-6 {
    padding: 4vh 6vw;
  }
  .cont-4-7 {
    padding: 4vh 7vw;
  }
  .cont-4-8 {
    padding: 4vh 8vw;
  }
  .cont-4-9 {
    padding: 4vh 9vw;
  }
  .cont-4-10 {
    padding: 4vh 10vw;
  }
  .cont-5-1 {
    padding: 5vh 1vw;
  }
  .cont-5-2 {
    padding: 5vh 2vw;
  }
  .cont-5-3 {
    padding: 5vh 3vw;
  }
  .cont-5-4 {
    padding: 5vh 4vw;
  }
  .cont-5-5 {
    padding: 5vh 5vw;
  }
  .cont-5-6 {
    padding: 5vh 6vw;
  }
  .cont-5-7 {
    padding: 5vh 7vw;
  }
  .cont-5-8 {
    padding: 5vh 8vw;
  }
  .cont-5-9 {
    padding: 5vh 9vw;
  }
  .cont-5-10 {
    padding: 5vh 10vw;
  }
  .cont-6-1 {
    padding: 6vh 1vw;
  }
  .cont-6-2 {
    padding: 6vh 2vw;
  }
  .cont-6-3 {
    padding: 6vh 3vw;
  }
  .cont-6-4 {
    padding: 6vh 4vw;
  }
  .cont-6-5 {
    padding: 6vh 5vw;
  }
  .cont-6-6 {
    padding: 6vh 6vw;
  }
  .cont-6-7 {
    padding: 6vh 7vw;
  }
  .cont-6-8 {
    padding: 6vh 8vw;
  }
  .cont-6-9 {
    padding: 6vh 9vw;
  }
  .cont-6-10 {
    padding: 6vh 10vw;
  }
  .cont-7-1 {
    padding: 7vh 1vw;
  }
  .cont-7-2 {
    padding: 7vh 2vw;
  }
  .cont-7-3 {
    padding: 7vh 3vw;
  }
  .cont-7-4 {
    padding: 7vh 4vw;
  }
  .cont-7-5 {
    padding: 7vh 5vw;
  }
  .cont-7-6 {
    padding: 7vh 6vw;
  }
  .cont-7-7 {
    padding: 7vh 7vw;
  }
  .cont-7-8 {
    padding: 7vh 8vw;
  }
  .cont-7-9 {
    padding: 7vh 9vw;
  }
  .cont-7-10 {
    padding: 7vh 10vw;
  }
  .cont-8-1 {
    padding: 8vh 1vw;
  }
  .cont-8-2 {
    padding: 8vh 2vw;
  }
  .cont-8-3 {
    padding: 8vh 3vw;
  }
  .cont-8-4 {
    padding: 8vh 4vw;
  }
  .cont-8-5 {
    padding: 8vh 5vw;
  }
  .cont-8-6 {
    padding: 8vh 6vw;
  }
  .cont-8-7 {
    padding: 8vh 7vw;
  }
  .cont-8-8 {
    padding: 8vh 8vw;
  }
  .cont-8-9 {
    padding: 8vh 9vw;
  }
  .cont-8-10 {
    padding: 8vh 10vw;
  }
  .cont-9-1 {
    padding: 9vh 1vw;
  }
  .cont-9-2 {
    padding: 9vh 2vw;
  }
  .cont-9-3 {
    padding: 9vh 3vw;
  }
  .cont-9-4 {
    padding: 9vh 4vw;
  }
  .cont-9-5 {
    padding: 9vh 5vw;
  }
  .cont-9-6 {
    padding: 9vh 6vw;
  }
  .cont-9-7 {
    padding: 9vh 7vw;
  }
  .cont-9-8 {
    padding: 9vh 8vw;
  }
  .cont-9-9 {
    padding: 9vh 9vw;
  }
  .cont-9-10 {
    padding: 9vh 10vw;
  }
  .cont-10-1 {
    padding: 10vh 1vw;
  }
  .cont-10-2 {
    padding: 10vh 2vw;
  }
  .cont-10-3 {
    padding: 10vh 3vw;
  }
  .cont-10-4 {
    padding: 10vh 4vw;
  }
  .cont-10-5 {
    padding: 10vh 5vw;
  }
  .cont-10-6 {
    padding: 10vh 6vw;
  }
  .cont-10-7 {
    padding: 10vh 7vw;
  }
  .cont-10-8 {
    padding: 10vh 8vw;
  }
  .cont-10-9 {
    padding: 10vh 9vw;
  }
  .cont-10-10 {
    padding: 10vh 10vw;
  }
}

@media (min-width: 992px) {
  .cont-1-1 {
    padding: 0.6vh 0.6vw;
  }
  .cont-1-2 {
    padding: 0.6vh 1.2vw;
  }
  .cont-1-3 {
    padding: 0.6vh 1.8vw;
  }
  .cont-1-4 {
    padding: 0.6vh 2.4vw;
  }
  .cont-1-5 {
    padding: 0.6vh 3vw;
  }
  .cont-1-6 {
    padding: 0.6vh 3.6vw;
  }
  .cont-1-7 {
    padding: 0.6vh 4.2vw;
  }
  .cont-1-8 {
    padding: 0.6vh 4.8vw;
  }
  .cont-1-9 {
    padding: 0.6vh 5.4vw;
  }
  .cont-1-10 {
    padding: 0.6vh 6vw;
  }
  .cont-2-1 {
    padding: 1.2vh 0.6vw;
  }
  .cont-2-2 {
    padding: 1.2vh 1.2vw;
  }
  .cont-2-3 {
    padding: 1.2vh 1.8vw;
  }
  .cont-2-4 {
    padding: 1.2vh 2.4vw;
  }
  .cont-2-5 {
    padding: 1.2vh 3vw;
  }
  .cont-2-6 {
    padding: 1.2vh 3.6vw;
  }
  .cont-2-7 {
    padding: 1.2vh 4.2vw;
  }
  .cont-2-8 {
    padding: 1.2vh 4.8vw;
  }
  .cont-2-9 {
    padding: 1.2vh 5.4vw;
  }
  .cont-2-10 {
    padding: 1.2vh 6vw;
  }
  .cont-3-1 {
    padding: 1.8vh 0.6vw;
  }
  .cont-3-2 {
    padding: 1.8vh 1.2vw;
  }
  .cont-3-3 {
    padding: 1.8vh 1.8vw;
  }
  .cont-3-4 {
    padding: 1.8vh 2.4vw;
  }
  .cont-3-5 {
    padding: 1.8vh 3vw;
  }
  .cont-3-6 {
    padding: 1.8vh 3.6vw;
  }
  .cont-3-7 {
    padding: 1.8vh 4.2vw;
  }
  .cont-3-8 {
    padding: 1.8vh 4.8vw;
  }
  .cont-3-9 {
    padding: 1.8vh 5.4vw;
  }
  .cont-3-10 {
    padding: 1.8vh 6vw;
  }
  .cont-4-1 {
    padding: 2.4vh 0.6vw;
  }
  .cont-4-2 {
    padding: 2.4vh 1.2vw;
  }
  .cont-4-3 {
    padding: 2.4vh 1.8vw;
  }
  .cont-4-4 {
    padding: 2.4vh 2.4vw;
  }
  .cont-4-5 {
    padding: 2.4vh 3vw;
  }
  .cont-4-6 {
    padding: 2.4vh 3.6vw;
  }
  .cont-4-7 {
    padding: 2.4vh 4.2vw;
  }
  .cont-4-8 {
    padding: 2.4vh 4.8vw;
  }
  .cont-4-9 {
    padding: 2.4vh 5.4vw;
  }
  .cont-4-10 {
    padding: 2.4vh 6vw;
  }
  .cont-5-1 {
    padding: 3vh 0.6vw;
  }
  .cont-5-2 {
    padding: 3vh 1.2vw;
  }
  .cont-5-3 {
    padding: 3vh 1.8vw;
  }
  .cont-5-4 {
    padding: 3vh 2.4vw;
  }
  .cont-5-5 {
    padding: 3vh 3vw;
  }
  .cont-5-6 {
    padding: 3vh 3.6vw;
  }
  .cont-5-7 {
    padding: 3vh 4.2vw;
  }
  .cont-5-8 {
    padding: 3vh 4.8vw;
  }
  .cont-5-9 {
    padding: 3vh 5.4vw;
  }
  .cont-5-10 {
    padding: 3vh 6vw;
  }
  .cont-6-1 {
    padding: 3.6vh 0.6vw;
  }
  .cont-6-2 {
    padding: 3.6vh 1.2vw;
  }
  .cont-6-3 {
    padding: 3.6vh 1.8vw;
  }
  .cont-6-4 {
    padding: 3.6vh 2.4vw;
  }
  .cont-6-5 {
    padding: 3.6vh 3vw;
  }
  .cont-6-6 {
    padding: 3.6vh 3.6vw;
  }
  .cont-6-7 {
    padding: 3.6vh 4.2vw;
  }
  .cont-6-8 {
    padding: 3.6vh 4.8vw;
  }
  .cont-6-9 {
    padding: 3.6vh 5.4vw;
  }
  .cont-6-10 {
    padding: 3.6vh 6vw;
  }
  .cont-7-1 {
    padding: 4.2vh 0.6vw;
  }
  .cont-7-2 {
    padding: 4.2vh 1.2vw;
  }
  .cont-7-3 {
    padding: 4.2vh 1.8vw;
  }
  .cont-7-4 {
    padding: 4.2vh 2.4vw;
  }
  .cont-7-5 {
    padding: 4.2vh 3vw;
  }
  .cont-7-6 {
    padding: 4.2vh 3.6vw;
  }
  .cont-7-7 {
    padding: 4.2vh 4.2vw;
  }
  .cont-7-8 {
    padding: 4.2vh 4.8vw;
  }
  .cont-7-9 {
    padding: 4.2vh 5.4vw;
  }
  .cont-7-10 {
    padding: 4.2vh 6vw;
  }
  .cont-8-1 {
    padding: 4.8vh 0.6vw;
  }
  .cont-8-2 {
    padding: 4.8vh 1.2vw;
  }
  .cont-8-3 {
    padding: 4.8vh 1.8vw;
  }
  .cont-8-4 {
    padding: 4.8vh 2.4vw;
  }
  .cont-8-5 {
    padding: 4.8vh 3vw;
  }
  .cont-8-6 {
    padding: 4.8vh 3.6vw;
  }
  .cont-8-7 {
    padding: 4.8vh 4.2vw;
  }
  .cont-8-8 {
    padding: 4.8vh 4.8vw;
  }
  .cont-8-9 {
    padding: 4.8vh 5.4vw;
  }
  .cont-8-10 {
    padding: 4.8vh 6vw;
  }
  .cont-9-1 {
    padding: 5.4vh 0.6vw;
  }
  .cont-9-2 {
    padding: 5.4vh 1.2vw;
  }
  .cont-9-3 {
    padding: 5.4vh 1.8vw;
  }
  .cont-9-4 {
    padding: 5.4vh 2.4vw;
  }
  .cont-9-5 {
    padding: 5.4vh 3vw;
  }
  .cont-9-6 {
    padding: 5.4vh 3.6vw;
  }
  .cont-9-7 {
    padding: 5.4vh 4.2vw;
  }
  .cont-9-8 {
    padding: 5.4vh 4.8vw;
  }
  .cont-9-9 {
    padding: 5.4vh 5.4vw;
  }
  .cont-9-10 {
    padding: 5.4vh 6vw;
  }
  .cont-10-1 {
    padding: 6vh 0.6vw;
  }
  .cont-10-2 {
    padding: 6vh 1.2vw;
  }
  .cont-10-3 {
    padding: 6vh 1.8vw;
  }
  .cont-10-4 {
    padding: 6vh 2.4vw;
  }
  .cont-10-5 {
    padding: 6vh 3vw;
  }
  .cont-10-6 {
    padding: 6vh 3.6vw;
  }
  .cont-10-7 {
    padding: 6vh 4.2vw;
  }
  .cont-10-8 {
    padding: 6vh 4.8vw;
  }
  .cont-10-9 {
    padding: 6vh 5.4vw;
  }
  .cont-10-10 {
    padding: 6vh 6vw;
  }
}

@media (min-width: 0px) {
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .fixed {
    position: fixed;
  }
  .t0 {
    top: 0vh;
  }
  .r0 {
    right: 0vh;
  }
  .b0 {
    bottom: 0vh;
  }
  .l0 {
    left: 0vh;
  }
  .t1 {
    top: 1vh;
  }
  .r1 {
    right: 1vh;
  }
  .b1 {
    bottom: 1vh;
  }
  .l1 {
    left: 1vh;
  }
  .t2 {
    top: 2vh;
  }
  .r2 {
    right: 2vh;
  }
  .b2 {
    bottom: 2vh;
  }
  .l2 {
    left: 2vh;
  }
  .t3 {
    top: 3vh;
  }
  .r3 {
    right: 3vh;
  }
  .b3 {
    bottom: 3vh;
  }
  .l3 {
    left: 3vh;
  }
  .t4 {
    top: 4vh;
  }
  .r4 {
    right: 4vh;
  }
  .b4 {
    bottom: 4vh;
  }
  .l4 {
    left: 4vh;
  }
  .t5 {
    top: 5vh;
  }
  .r5 {
    right: 5vh;
  }
  .b5 {
    bottom: 5vh;
  }
  .l5 {
    left: 5vh;
  }
  .t6 {
    top: 6vh;
  }
  .r6 {
    right: 6vh;
  }
  .b6 {
    bottom: 6vh;
  }
  .l6 {
    left: 6vh;
  }
  .t7 {
    top: 7vh;
  }
  .r7 {
    right: 7vh;
  }
  .b7 {
    bottom: 7vh;
  }
  .l7 {
    left: 7vh;
  }
  .t8 {
    top: 8vh;
  }
  .r8 {
    right: 8vh;
  }
  .b8 {
    bottom: 8vh;
  }
  .l8 {
    left: 8vh;
  }
  .t9 {
    top: 9vh;
  }
  .r9 {
    right: 9vh;
  }
  .b9 {
    bottom: 9vh;
  }
  .l9 {
    left: 9vh;
  }
  .t10 {
    top: 10vh;
  }
  .r10 {
    right: 10vh;
  }
  .b10 {
    bottom: 10vh;
  }
  .l10 {
    left: 10vh;
  }
  .t11 {
    top: 11vh;
  }
  .r11 {
    right: 11vh;
  }
  .b11 {
    bottom: 11vh;
  }
  .l11 {
    left: 11vh;
  }
  .t12 {
    top: 12vh;
  }
  .r12 {
    right: 12vh;
  }
  .b12 {
    bottom: 12vh;
  }
  .l12 {
    left: 12vh;
  }
  .t13 {
    top: 13vh;
  }
  .r13 {
    right: 13vh;
  }
  .b13 {
    bottom: 13vh;
  }
  .l13 {
    left: 13vh;
  }
  .t14 {
    top: 14vh;
  }
  .r14 {
    right: 14vh;
  }
  .b14 {
    bottom: 14vh;
  }
  .l14 {
    left: 14vh;
  }
  .t15 {
    top: 15vh;
  }
  .r15 {
    right: 15vh;
  }
  .b15 {
    bottom: 15vh;
  }
  .l15 {
    left: 15vh;
  }
  .t16 {
    top: 16vh;
  }
  .r16 {
    right: 16vh;
  }
  .b16 {
    bottom: 16vh;
  }
  .l16 {
    left: 16vh;
  }
  .t17 {
    top: 17vh;
  }
  .r17 {
    right: 17vh;
  }
  .b17 {
    bottom: 17vh;
  }
  .l17 {
    left: 17vh;
  }
  .t18 {
    top: 18vh;
  }
  .r18 {
    right: 18vh;
  }
  .b18 {
    bottom: 18vh;
  }
  .l18 {
    left: 18vh;
  }
  .t19 {
    top: 19vh;
  }
  .r19 {
    right: 19vh;
  }
  .b19 {
    bottom: 19vh;
  }
  .l19 {
    left: 19vh;
  }
  .t20 {
    top: 20vh;
  }
  .r20 {
    right: 20vh;
  }
  .b20 {
    bottom: 20vh;
  }
  .l20 {
    left: 20vh;
  }
  .t21 {
    top: 21vh;
  }
  .r21 {
    right: 21vh;
  }
  .b21 {
    bottom: 21vh;
  }
  .l21 {
    left: 21vh;
  }
  .t22 {
    top: 22vh;
  }
  .r22 {
    right: 22vh;
  }
  .b22 {
    bottom: 22vh;
  }
  .l22 {
    left: 22vh;
  }
  .t23 {
    top: 23vh;
  }
  .r23 {
    right: 23vh;
  }
  .b23 {
    bottom: 23vh;
  }
  .l23 {
    left: 23vh;
  }
  .t24 {
    top: 24vh;
  }
  .r24 {
    right: 24vh;
  }
  .b24 {
    bottom: 24vh;
  }
  .l24 {
    left: 24vh;
  }
  .t25 {
    top: 25vh;
  }
  .r25 {
    right: 25vh;
  }
  .b25 {
    bottom: 25vh;
  }
  .l25 {
    left: 25vh;
  }
  .t26 {
    top: 26vh;
  }
  .r26 {
    right: 26vh;
  }
  .b26 {
    bottom: 26vh;
  }
  .l26 {
    left: 26vh;
  }
  .t27 {
    top: 27vh;
  }
  .r27 {
    right: 27vh;
  }
  .b27 {
    bottom: 27vh;
  }
  .l27 {
    left: 27vh;
  }
  .t28 {
    top: 28vh;
  }
  .r28 {
    right: 28vh;
  }
  .b28 {
    bottom: 28vh;
  }
  .l28 {
    left: 28vh;
  }
  .t29 {
    top: 29vh;
  }
  .r29 {
    right: 29vh;
  }
  .b29 {
    bottom: 29vh;
  }
  .l29 {
    left: 29vh;
  }
  .t30 {
    top: 30vh;
  }
  .r30 {
    right: 30vh;
  }
  .b30 {
    bottom: 30vh;
  }
  .l30 {
    left: 30vh;
  }
  .t31 {
    top: 31vh;
  }
  .r31 {
    right: 31vh;
  }
  .b31 {
    bottom: 31vh;
  }
  .l31 {
    left: 31vh;
  }
  .t32 {
    top: 32vh;
  }
  .r32 {
    right: 32vh;
  }
  .b32 {
    bottom: 32vh;
  }
  .l32 {
    left: 32vh;
  }
  .t33 {
    top: 33vh;
  }
  .r33 {
    right: 33vh;
  }
  .b33 {
    bottom: 33vh;
  }
  .l33 {
    left: 33vh;
  }
  .t34 {
    top: 34vh;
  }
  .r34 {
    right: 34vh;
  }
  .b34 {
    bottom: 34vh;
  }
  .l34 {
    left: 34vh;
  }
  .t35 {
    top: 35vh;
  }
  .r35 {
    right: 35vh;
  }
  .b35 {
    bottom: 35vh;
  }
  .l35 {
    left: 35vh;
  }
  .t36 {
    top: 36vh;
  }
  .r36 {
    right: 36vh;
  }
  .b36 {
    bottom: 36vh;
  }
  .l36 {
    left: 36vh;
  }
  .t37 {
    top: 37vh;
  }
  .r37 {
    right: 37vh;
  }
  .b37 {
    bottom: 37vh;
  }
  .l37 {
    left: 37vh;
  }
  .t38 {
    top: 38vh;
  }
  .r38 {
    right: 38vh;
  }
  .b38 {
    bottom: 38vh;
  }
  .l38 {
    left: 38vh;
  }
  .t39 {
    top: 39vh;
  }
  .r39 {
    right: 39vh;
  }
  .b39 {
    bottom: 39vh;
  }
  .l39 {
    left: 39vh;
  }
  .t40 {
    top: 40vh;
  }
  .r40 {
    right: 40vh;
  }
  .b40 {
    bottom: 40vh;
  }
  .l40 {
    left: 40vh;
  }
  .t41 {
    top: 41vh;
  }
  .r41 {
    right: 41vh;
  }
  .b41 {
    bottom: 41vh;
  }
  .l41 {
    left: 41vh;
  }
  .t42 {
    top: 42vh;
  }
  .r42 {
    right: 42vh;
  }
  .b42 {
    bottom: 42vh;
  }
  .l42 {
    left: 42vh;
  }
  .t43 {
    top: 43vh;
  }
  .r43 {
    right: 43vh;
  }
  .b43 {
    bottom: 43vh;
  }
  .l43 {
    left: 43vh;
  }
  .t44 {
    top: 44vh;
  }
  .r44 {
    right: 44vh;
  }
  .b44 {
    bottom: 44vh;
  }
  .l44 {
    left: 44vh;
  }
  .t45 {
    top: 45vh;
  }
  .r45 {
    right: 45vh;
  }
  .b45 {
    bottom: 45vh;
  }
  .l45 {
    left: 45vh;
  }
  .t46 {
    top: 46vh;
  }
  .r46 {
    right: 46vh;
  }
  .b46 {
    bottom: 46vh;
  }
  .l46 {
    left: 46vh;
  }
  .t47 {
    top: 47vh;
  }
  .r47 {
    right: 47vh;
  }
  .b47 {
    bottom: 47vh;
  }
  .l47 {
    left: 47vh;
  }
  .t48 {
    top: 48vh;
  }
  .r48 {
    right: 48vh;
  }
  .b48 {
    bottom: 48vh;
  }
  .l48 {
    left: 48vh;
  }
  .t49 {
    top: 49vh;
  }
  .r49 {
    right: 49vh;
  }
  .b49 {
    bottom: 49vh;
  }
  .l49 {
    left: 49vh;
  }
  .t50 {
    top: 50vh;
  }
  .r50 {
    right: 50vh;
  }
  .b50 {
    bottom: 50vh;
  }
  .l50 {
    left: 50vh;
  }
  .t51 {
    top: 51vh;
  }
  .r51 {
    right: 51vh;
  }
  .b51 {
    bottom: 51vh;
  }
  .l51 {
    left: 51vh;
  }
  .t52 {
    top: 52vh;
  }
  .r52 {
    right: 52vh;
  }
  .b52 {
    bottom: 52vh;
  }
  .l52 {
    left: 52vh;
  }
  .t53 {
    top: 53vh;
  }
  .r53 {
    right: 53vh;
  }
  .b53 {
    bottom: 53vh;
  }
  .l53 {
    left: 53vh;
  }
  .t54 {
    top: 54vh;
  }
  .r54 {
    right: 54vh;
  }
  .b54 {
    bottom: 54vh;
  }
  .l54 {
    left: 54vh;
  }
  .t55 {
    top: 55vh;
  }
  .r55 {
    right: 55vh;
  }
  .b55 {
    bottom: 55vh;
  }
  .l55 {
    left: 55vh;
  }
  .t56 {
    top: 56vh;
  }
  .r56 {
    right: 56vh;
  }
  .b56 {
    bottom: 56vh;
  }
  .l56 {
    left: 56vh;
  }
  .t57 {
    top: 57vh;
  }
  .r57 {
    right: 57vh;
  }
  .b57 {
    bottom: 57vh;
  }
  .l57 {
    left: 57vh;
  }
  .t58 {
    top: 58vh;
  }
  .r58 {
    right: 58vh;
  }
  .b58 {
    bottom: 58vh;
  }
  .l58 {
    left: 58vh;
  }
  .t59 {
    top: 59vh;
  }
  .r59 {
    right: 59vh;
  }
  .b59 {
    bottom: 59vh;
  }
  .l59 {
    left: 59vh;
  }
  .t60 {
    top: 60vh;
  }
  .r60 {
    right: 60vh;
  }
  .b60 {
    bottom: 60vh;
  }
  .l60 {
    left: 60vh;
  }
  .t61 {
    top: 61vh;
  }
  .r61 {
    right: 61vh;
  }
  .b61 {
    bottom: 61vh;
  }
  .l61 {
    left: 61vh;
  }
  .t62 {
    top: 62vh;
  }
  .r62 {
    right: 62vh;
  }
  .b62 {
    bottom: 62vh;
  }
  .l62 {
    left: 62vh;
  }
  .t63 {
    top: 63vh;
  }
  .r63 {
    right: 63vh;
  }
  .b63 {
    bottom: 63vh;
  }
  .l63 {
    left: 63vh;
  }
  .t64 {
    top: 64vh;
  }
  .r64 {
    right: 64vh;
  }
  .b64 {
    bottom: 64vh;
  }
  .l64 {
    left: 64vh;
  }
  .t65 {
    top: 65vh;
  }
  .r65 {
    right: 65vh;
  }
  .b65 {
    bottom: 65vh;
  }
  .l65 {
    left: 65vh;
  }
  .t66 {
    top: 66vh;
  }
  .r66 {
    right: 66vh;
  }
  .b66 {
    bottom: 66vh;
  }
  .l66 {
    left: 66vh;
  }
  .t67 {
    top: 67vh;
  }
  .r67 {
    right: 67vh;
  }
  .b67 {
    bottom: 67vh;
  }
  .l67 {
    left: 67vh;
  }
  .t68 {
    top: 68vh;
  }
  .r68 {
    right: 68vh;
  }
  .b68 {
    bottom: 68vh;
  }
  .l68 {
    left: 68vh;
  }
  .t69 {
    top: 69vh;
  }
  .r69 {
    right: 69vh;
  }
  .b69 {
    bottom: 69vh;
  }
  .l69 {
    left: 69vh;
  }
  .t70 {
    top: 70vh;
  }
  .r70 {
    right: 70vh;
  }
  .b70 {
    bottom: 70vh;
  }
  .l70 {
    left: 70vh;
  }
  .t71 {
    top: 71vh;
  }
  .r71 {
    right: 71vh;
  }
  .b71 {
    bottom: 71vh;
  }
  .l71 {
    left: 71vh;
  }
  .t72 {
    top: 72vh;
  }
  .r72 {
    right: 72vh;
  }
  .b72 {
    bottom: 72vh;
  }
  .l72 {
    left: 72vh;
  }
  .t73 {
    top: 73vh;
  }
  .r73 {
    right: 73vh;
  }
  .b73 {
    bottom: 73vh;
  }
  .l73 {
    left: 73vh;
  }
  .t74 {
    top: 74vh;
  }
  .r74 {
    right: 74vh;
  }
  .b74 {
    bottom: 74vh;
  }
  .l74 {
    left: 74vh;
  }
  .t75 {
    top: 75vh;
  }
  .r75 {
    right: 75vh;
  }
  .b75 {
    bottom: 75vh;
  }
  .l75 {
    left: 75vh;
  }
  .t76 {
    top: 76vh;
  }
  .r76 {
    right: 76vh;
  }
  .b76 {
    bottom: 76vh;
  }
  .l76 {
    left: 76vh;
  }
  .t77 {
    top: 77vh;
  }
  .r77 {
    right: 77vh;
  }
  .b77 {
    bottom: 77vh;
  }
  .l77 {
    left: 77vh;
  }
  .t78 {
    top: 78vh;
  }
  .r78 {
    right: 78vh;
  }
  .b78 {
    bottom: 78vh;
  }
  .l78 {
    left: 78vh;
  }
  .t79 {
    top: 79vh;
  }
  .r79 {
    right: 79vh;
  }
  .b79 {
    bottom: 79vh;
  }
  .l79 {
    left: 79vh;
  }
  .t80 {
    top: 80vh;
  }
  .r80 {
    right: 80vh;
  }
  .b80 {
    bottom: 80vh;
  }
  .l80 {
    left: 80vh;
  }
  .t81 {
    top: 81vh;
  }
  .r81 {
    right: 81vh;
  }
  .b81 {
    bottom: 81vh;
  }
  .l81 {
    left: 81vh;
  }
  .t82 {
    top: 82vh;
  }
  .r82 {
    right: 82vh;
  }
  .b82 {
    bottom: 82vh;
  }
  .l82 {
    left: 82vh;
  }
  .t83 {
    top: 83vh;
  }
  .r83 {
    right: 83vh;
  }
  .b83 {
    bottom: 83vh;
  }
  .l83 {
    left: 83vh;
  }
  .t84 {
    top: 84vh;
  }
  .r84 {
    right: 84vh;
  }
  .b84 {
    bottom: 84vh;
  }
  .l84 {
    left: 84vh;
  }
  .t85 {
    top: 85vh;
  }
  .r85 {
    right: 85vh;
  }
  .b85 {
    bottom: 85vh;
  }
  .l85 {
    left: 85vh;
  }
  .t86 {
    top: 86vh;
  }
  .r86 {
    right: 86vh;
  }
  .b86 {
    bottom: 86vh;
  }
  .l86 {
    left: 86vh;
  }
  .t87 {
    top: 87vh;
  }
  .r87 {
    right: 87vh;
  }
  .b87 {
    bottom: 87vh;
  }
  .l87 {
    left: 87vh;
  }
  .t88 {
    top: 88vh;
  }
  .r88 {
    right: 88vh;
  }
  .b88 {
    bottom: 88vh;
  }
  .l88 {
    left: 88vh;
  }
  .t89 {
    top: 89vh;
  }
  .r89 {
    right: 89vh;
  }
  .b89 {
    bottom: 89vh;
  }
  .l89 {
    left: 89vh;
  }
  .t90 {
    top: 90vh;
  }
  .r90 {
    right: 90vh;
  }
  .b90 {
    bottom: 90vh;
  }
  .l90 {
    left: 90vh;
  }
  .t91 {
    top: 91vh;
  }
  .r91 {
    right: 91vh;
  }
  .b91 {
    bottom: 91vh;
  }
  .l91 {
    left: 91vh;
  }
  .t92 {
    top: 92vh;
  }
  .r92 {
    right: 92vh;
  }
  .b92 {
    bottom: 92vh;
  }
  .l92 {
    left: 92vh;
  }
  .t93 {
    top: 93vh;
  }
  .r93 {
    right: 93vh;
  }
  .b93 {
    bottom: 93vh;
  }
  .l93 {
    left: 93vh;
  }
  .t94 {
    top: 94vh;
  }
  .r94 {
    right: 94vh;
  }
  .b94 {
    bottom: 94vh;
  }
  .l94 {
    left: 94vh;
  }
  .t95 {
    top: 95vh;
  }
  .r95 {
    right: 95vh;
  }
  .b95 {
    bottom: 95vh;
  }
  .l95 {
    left: 95vh;
  }
  .t96 {
    top: 96vh;
  }
  .r96 {
    right: 96vh;
  }
  .b96 {
    bottom: 96vh;
  }
  .l96 {
    left: 96vh;
  }
  .t97 {
    top: 97vh;
  }
  .r97 {
    right: 97vh;
  }
  .b97 {
    bottom: 97vh;
  }
  .l97 {
    left: 97vh;
  }
  .t98 {
    top: 98vh;
  }
  .r98 {
    right: 98vh;
  }
  .b98 {
    bottom: 98vh;
  }
  .l98 {
    left: 98vh;
  }
  .t99 {
    top: 99vh;
  }
  .r99 {
    right: 99vh;
  }
  .b99 {
    bottom: 99vh;
  }
  .l99 {
    left: 99vh;
  }
  .t100 {
    top: 100vh;
  }
  .r100 {
    right: 100vh;
  }
  .b100 {
    bottom: 100vh;
  }
  .l100 {
    left: 100vh;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}

.row.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html {
  font-size: 18px;
  height: 100vh;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

hr {
  display: block;
  height: .1px;
  border: rgba(50, 49, 51, 0.1) solid 0.1px;
  margin: 1vh 5vw;
  padding: .2vh 0;
}

hr:hover {
  background-color: rgba(50, 49, 51, 0.1);
}

.h1 {
  height: 1vh;
}

.h2 {
  height: 2vh;
}

.h3 {
  height: 3vh;
}

.h4 {
  height: 4vh;
}

.h5 {
  height: 5vh;
}

.h6 {
  height: 6vh;
}

.h7 {
  height: 7vh;
}

.h8 {
  height: 8vh;
}

.h9 {
  height: 9vh;
}

.h10 {
  height: 10vh;
}

.h11 {
  height: 11vh;
}

.h12 {
  height: 12vh;
}

.h13 {
  height: 13vh;
}

.h14 {
  height: 14vh;
}

.h15 {
  height: 15vh;
}

.h16 {
  height: 16vh;
}

.h17 {
  height: 17vh;
}

.h18 {
  height: 18vh;
}

.h19 {
  height: 19vh;
}

.h20 {
  height: 20vh;
}

.h21 {
  height: 21vh;
}

.h22 {
  height: 22vh;
}

.h23 {
  height: 23vh;
}

.h24 {
  height: 24vh;
}

.h25 {
  height: 25vh;
}

.h26 {
  height: 26vh;
}

.h27 {
  height: 27vh;
}

.h28 {
  height: 28vh;
}

.h29 {
  height: 29vh;
}

.h30 {
  height: 30vh;
}

.h31 {
  height: 31vh;
}

.h32 {
  height: 32vh;
}

.h33 {
  height: 33vh;
}

.h34 {
  height: 34vh;
}

.h35 {
  height: 35vh;
}

.h36 {
  height: 36vh;
}

.h37 {
  height: 37vh;
}

.h38 {
  height: 38vh;
}

.h39 {
  height: 39vh;
}

.h40 {
  height: 40vh;
}

.h41 {
  height: 41vh;
}

.h42 {
  height: 42vh;
}

.h43 {
  height: 43vh;
}

.h44 {
  height: 44vh;
}

.h45 {
  height: 45vh;
}

.h46 {
  height: 46vh;
}

.h47 {
  height: 47vh;
}

.h48 {
  height: 48vh;
}

.h49 {
  height: 49vh;
}

.h50 {
  height: 50vh;
}

.h51 {
  height: 51vh;
}

.h52 {
  height: 52vh;
}

.h53 {
  height: 53vh;
}

.h54 {
  height: 54vh;
}

.h55 {
  height: 55vh;
}

.h56 {
  height: 56vh;
}

.h57 {
  height: 57vh;
}

.h58 {
  height: 58vh;
}

.h59 {
  height: 59vh;
}

.h60 {
  height: 60vh;
}

.h61 {
  height: 61vh;
}

.h62 {
  height: 62vh;
}

.h63 {
  height: 63vh;
}

.h64 {
  height: 64vh;
}

.h65 {
  height: 65vh;
}

.h66 {
  height: 66vh;
}

.h67 {
  height: 67vh;
}

.h68 {
  height: 68vh;
}

.h69 {
  height: 69vh;
}

.h70 {
  height: 70vh;
}

.h71 {
  height: 71vh;
}

.h72 {
  height: 72vh;
}

.h73 {
  height: 73vh;
}

.h74 {
  height: 74vh;
}

.h75 {
  height: 75vh;
}

.h76 {
  height: 76vh;
}

.h77 {
  height: 77vh;
}

.h78 {
  height: 78vh;
}

.h79 {
  height: 79vh;
}

.h80 {
  height: 80vh;
}

.h81 {
  height: 81vh;
}

.h82 {
  height: 82vh;
}

.h83 {
  height: 83vh;
}

.h84 {
  height: 84vh;
}

.h85 {
  height: 85vh;
}

.h86 {
  height: 86vh;
}

.h87 {
  height: 87vh;
}

.h88 {
  height: 88vh;
}

.h89 {
  height: 89vh;
}

.h90 {
  height: 90vh;
}

.h91 {
  height: 91vh;
}

.h92 {
  height: 92vh;
}

.h93 {
  height: 93vh;
}

.h94 {
  height: 94vh;
}

.h95 {
  height: 95vh;
}

.h96 {
  height: 96vh;
}

.h97 {
  height: 97vh;
}

.h98 {
  height: 98vh;
}

.h99 {
  height: 99vh;
}

.h100 {
  height: 100vh;
}

abbr {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(50, 49, 51, 0.1);
          text-decoration-color: rgba(50, 49, 51, 0.1);
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
  position: relative;
}

abbr:hover {
  background-color: rgba(50, 49, 51, 0.1);
}

abbr:before {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #323133;
  color: white;
  border-radius: .5vw;
  padding: 0 .5vw;
  margin: .5vh 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}

abbr:hover:before {
  display: initial;
}

address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 1vh .6vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

address:hover {
  background-color: rgba(50, 49, 51, 0.1);
}

code {
  color: white;
  border-radius: .5vw;
  background-color: #323133;
  padding: 0 .5vw;
  margin: .5vh 0;
}

mark {
  background-color: rgba(50, 49, 51, 0.1);
  padding: 0 .5vw;
}

mark:hover {
  background-color: rgba(50, 49, 51, 0.2);
}

blockquote {
  font-style: italic;
  position: relative;
  margin: 2vh 0;
}

blockquote::before {
  content: "from: " attr(cite);
  position: absolute;
  font-size: .5rem;
  bottom: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

blockquote::after {
  content: "- " attr(data-quote);
  position: absolute;
  top: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

q {
  font-style: italic;
  position: relative;
  margin: 2vh 0;
}

i {
  position: relative;
  top: .5vh;
}

meter {
  height: 1vh;
  width: 50%;
  margin: 0 auto;
}

meter::-webkit-meter-bar {
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(transparent, #323122), color-stop(transparent, #4b492f));
  background-image: linear-gradient(90deg, #323122 transparent, #4b492f transparent);
}

meter::-webkit-meter-optimum-value {
  -webkit-box-shadow: 0 5px 5px -5px #999 inset;
          box-shadow: 0 5px 5px -5px #999 inset;
  background-image: -webkit-gradient(linear, left top, right top, from(#86263e), to(#a02a47));
  background-image: linear-gradient(90deg, #86263e, #a02a47);
  background-size: 100% 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

meter::-webkit-meter-suboptimum-value {
  background-image: -webkit-gradient(linear, left top, right top, from(#5b2686), to(#86265e));
  background-image: linear-gradient(90deg, #5b2686, #86265e);
}

progress {
  border-radius: 2px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  width: 100%;
}

progress:not([value]) {
  background-color: #86265e;
  border-radius: 2px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.25);
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, #86265e, #491b36), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25));
}

kbd {
  color: white;
  border-radius: .1vw;
  background-color: #323133;
  padding: 0 1vw;
  margin: 1vh .5vw;
}

time {
  color: dodgerblue;
  position: relative;
}

time::before {
  content: attr(datetime);
  font-weight: 300;
  display: none;
  color: black;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 100%;
  background-color: black;
  color: white;
  padding: 0 .5vw;
}

time:hover::before {
  display: initial;
}

cite {
  position: relative;
}

cite:after {
  content: 'CITATION';
  display: none;
}

b, u, em, strong, bdo, bdi, dfn, em, del, i, ins, pre, s, small, samp, sub, sup, template {
  font-size: initial;
}

table {
  width: 100%;
  padding: 1vh 1vw;
  margin-bottom: 0;
  background-color: transparent;
  border: rgba(50, 49, 51, 0.1) 1px solid;
  -webkit-box-shadow: rgba(50, 49, 51, 0.1) 0 0 5px 0.1px;
          box-shadow: rgba(50, 49, 51, 0.1) 0 0 5px 0.1px;
  text-align: center;
  border-collapse: collapse;
  overflow-x: auto;
}

table col, table th, table td {
  min-width: 20%;
}

table thead tr {
  color: #323133;
  -webkit-box-shadow: rgba(50, 49, 51, 0.1) 0 0 5px 0.1px;
          box-shadow: rgba(50, 49, 51, 0.1) 0 0 5px 0.1px;
  padding: 1vh 0;
}

table thead tr th {
  padding: .5vh 0;
}

table tbody tr {
  border: rgba(50, 49, 51, 0.1) 1px solid;
}

table tbody td {
  border: rgba(50, 49, 51, 0.1) 1px solid;
}

table tbody td:hover {
  background-color: rgba(50, 49, 51, 0.1);
  -webkit-box-shadow: rgba(50, 49, 51, 0.1) 0 0 5px 0.1px;
          box-shadow: rgba(50, 49, 51, 0.1) 0 0 5px 0.1px;
}

nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
}

nav li {
  text-transform: uppercase;
}

ul, ol, dl {
  list-style: none;
  -webkit-box-shadow: rgba(50, 49, 51, 0.1) 0 0 5px 0.1px;
          box-shadow: rgba(50, 49, 51, 0.1) 0 0 5px 0.1px;
}

ul li, ul dt, ul dd, ol li, ol dt, ol dd, dl li, dl dt, dl dd {
  padding: 1vh 1vw;
}

ul li a, ul dt a, ul dd a, ol li a, ol dt a, ol dd a, dl li a, dl dt a, dl dd a {
  color: inherit;
  text-decoration: none;
}

ul li:hover, ul dt:hover, ul dd:hover, ol li:hover, ol dt:hover, ol dd:hover, dl li:hover, dl dt:hover, dl dd:hover {
  background-color: rgba(50, 49, 51, 0.1);
}

ul dt, ol dt, dl dt {
  background-color: rgba(50, 49, 51, 0.2);
}

form * {
  padding: 1vh 0;
}

form input[required] + label::before, form .required::before {
  content: '*';
  color: red;
  padding: 0 .5vw;
}

form fieldset {
  text-align: center;
  border: none;
}

form fieldset.border {
  border: #323133 .1px solid;
}

form fieldset legend {
  padding: 1vh 2vw;
}

form fieldset legend:hover {
  background-color: rgba(153, 153, 153, 0.1);
}

form input, form label {
  margin: 1vh 1vw;
}

form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1vh .6vw;
  font-size: 1rem;
  font-family: inherit;
  border: rgba(153, 153, 153, 0.1) solid 0.4px;
  -webkit-box-shadow: rgba(153, 153, 153, 0.1) 0 0 10px 0.1px;
          box-shadow: rgba(153, 153, 153, 0.1) 0 0 10px 0.1px;
  background-color: rgba(153, 153, 153, 0.1);
}

form input:-webkit-autofill {
  background: #323133;
  color: white;
  border-radius: .6vw;
}

form input::-webkit-validation-bubble-message {
  color: #eee;
  background: #000;
  border-color: #444;
  -webkit-box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.5);
          box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.5);
}

form input::-webkit-validation-bubble-message:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background: url(http://trac.webkit.org/export/90202/trunk/Source/WebCore/inspector/front-end/Images/errorMediumIcon.png);
}

form input::-webkit-validation-bubble-arrow {
  background: #000;
  border-color: #444;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

form input[type=file] {
  display: none;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

form input[type=file]::before {
  content: url("img/cloud_download-24px.svg");
}

form input[type=file] + label {
  color: white;
  background-color: #323133;
  font-family: inherit;
  padding: 1vh 2vw;
}

form input[type=file] + label i {
  padding-right: 1vw;
}

form input[type=file] + label:hover {
  background-color: rgba(50, 49, 51, 0.9);
}

form input[type=radio] {
  display: none;
}

form input[type=radio] + label {
  color: white;
  background-color: #323133;
  border-radius: .6vw;
  padding: 1vh 1vw;
}

form input[type=radio]:checked + label {
  color: #323133;
  background-color: white;
  border: rgba(30, 144, 255, 0.7) 0.6px solid;
}

form input[type=range]::-webkit-slider-runnable-track {
  background-color: rgba(50, 49, 51, 0.1);
  height: 2vh;
  border-radius: .6vw;
}

form input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 3vh;
  width: 1vw;
  background: dodgerblue;
  border-radius: .6vw;
  position: relative;
  top: -.5vh;
}

form input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
  height: 1.5vh;
  width: 1.5vh;
  border: rgba(50, 49, 51, 0.1) 0.1px solid;
  background-color: rgba(167, 23, 23, 0.5);
  border-radius: 50%;
}

form input[type=color] {
  border: none;
  width: 20vw;
  height: 3vh;
  margin: 1vh 1vw;
}

form input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

form input[type=color]::-webkit-color-swatch {
  border: 1px rgba(153, 153, 153, 0.2) solid;
}

form input[type=checkbox] + label {
  display: block;
}

form input[type=checkbox] {
  display: none;
}

form input[type=checkbox] + label:before {
  content: '\2714';
  border: 0.1vw solid rgba(161, 43, 72, 0.5);
  border-radius: .2vw;
  font-size: .5em;
  padding: .2vh .5vh;
  margin: 1vh 1vw;
  position: relative;
  bottom: .5vh;
  color: transparent;
}

form input[type=checkbox]:checked + label:before {
  color: white;
  background-color: #a12b48;
}

form input::-webkit-inner-spin-button, form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

form textarea, form output {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1vh .6vw;
  font-size: 1rem;
  font-family: inherit;
  border: rgba(153, 153, 153, 0.1) solid 0.4px;
  -webkit-box-shadow: rgba(153, 153, 153, 0.1) 0 0 10px 0.1px;
          box-shadow: rgba(153, 153, 153, 0.1) 0 0 10px 0.1px;
}

form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #323133;
  color: white;
  padding: 1vh .6vw;
  margin: 1vh .6vw;
  font-size: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1vh .6vw;
  font-size: 1rem;
  font-family: inherit;
  border: rgba(153, 153, 153, 0.5) solid 1px;
  -webkit-box-shadow: rgba(153, 153, 153, 0.1) 0 0 10px 0.1px;
          box-shadow: rgba(153, 153, 153, 0.1) 0 0 10px 0.1px;
}

/* width */
::-webkit-scrollbar {
  width: .5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #323133;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: dodgerblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1c7cdb;
}

@media print {
  a::after {
    content: " (" attr(href) ") ";
  }
}
/*# sourceMappingURL=main.css.map */