@media (min-width: 0px) {
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .fixed {
    position: fixed;
  }
  .t0 {
    top: 0vh;
  }
  .r0 {
    right: 0vh;
  }
  .b0 {
    bottom: 0vh;
  }
  .l0 {
    left: 0vh;
  }
  .t1 {
    top: 1vh;
  }
  .r1 {
    right: 1vh;
  }
  .b1 {
    bottom: 1vh;
  }
  .l1 {
    left: 1vh;
  }
  .t2 {
    top: 2vh;
  }
  .r2 {
    right: 2vh;
  }
  .b2 {
    bottom: 2vh;
  }
  .l2 {
    left: 2vh;
  }
  .t3 {
    top: 3vh;
  }
  .r3 {
    right: 3vh;
  }
  .b3 {
    bottom: 3vh;
  }
  .l3 {
    left: 3vh;
  }
  .t4 {
    top: 4vh;
  }
  .r4 {
    right: 4vh;
  }
  .b4 {
    bottom: 4vh;
  }
  .l4 {
    left: 4vh;
  }
  .t5 {
    top: 5vh;
  }
  .r5 {
    right: 5vh;
  }
  .b5 {
    bottom: 5vh;
  }
  .l5 {
    left: 5vh;
  }
  .t6 {
    top: 6vh;
  }
  .r6 {
    right: 6vh;
  }
  .b6 {
    bottom: 6vh;
  }
  .l6 {
    left: 6vh;
  }
  .t7 {
    top: 7vh;
  }
  .r7 {
    right: 7vh;
  }
  .b7 {
    bottom: 7vh;
  }
  .l7 {
    left: 7vh;
  }
  .t8 {
    top: 8vh;
  }
  .r8 {
    right: 8vh;
  }
  .b8 {
    bottom: 8vh;
  }
  .l8 {
    left: 8vh;
  }
  .t9 {
    top: 9vh;
  }
  .r9 {
    right: 9vh;
  }
  .b9 {
    bottom: 9vh;
  }
  .l9 {
    left: 9vh;
  }
  .t10 {
    top: 10vh;
  }
  .r10 {
    right: 10vh;
  }
  .b10 {
    bottom: 10vh;
  }
  .l10 {
    left: 10vh;
  }
  .t11 {
    top: 11vh;
  }
  .r11 {
    right: 11vh;
  }
  .b11 {
    bottom: 11vh;
  }
  .l11 {
    left: 11vh;
  }
  .t12 {
    top: 12vh;
  }
  .r12 {
    right: 12vh;
  }
  .b12 {
    bottom: 12vh;
  }
  .l12 {
    left: 12vh;
  }
  .t13 {
    top: 13vh;
  }
  .r13 {
    right: 13vh;
  }
  .b13 {
    bottom: 13vh;
  }
  .l13 {
    left: 13vh;
  }
  .t14 {
    top: 14vh;
  }
  .r14 {
    right: 14vh;
  }
  .b14 {
    bottom: 14vh;
  }
  .l14 {
    left: 14vh;
  }
  .t15 {
    top: 15vh;
  }
  .r15 {
    right: 15vh;
  }
  .b15 {
    bottom: 15vh;
  }
  .l15 {
    left: 15vh;
  }
  .t16 {
    top: 16vh;
  }
  .r16 {
    right: 16vh;
  }
  .b16 {
    bottom: 16vh;
  }
  .l16 {
    left: 16vh;
  }
  .t17 {
    top: 17vh;
  }
  .r17 {
    right: 17vh;
  }
  .b17 {
    bottom: 17vh;
  }
  .l17 {
    left: 17vh;
  }
  .t18 {
    top: 18vh;
  }
  .r18 {
    right: 18vh;
  }
  .b18 {
    bottom: 18vh;
  }
  .l18 {
    left: 18vh;
  }
  .t19 {
    top: 19vh;
  }
  .r19 {
    right: 19vh;
  }
  .b19 {
    bottom: 19vh;
  }
  .l19 {
    left: 19vh;
  }
  .t20 {
    top: 20vh;
  }
  .r20 {
    right: 20vh;
  }
  .b20 {
    bottom: 20vh;
  }
  .l20 {
    left: 20vh;
  }
  .t21 {
    top: 21vh;
  }
  .r21 {
    right: 21vh;
  }
  .b21 {
    bottom: 21vh;
  }
  .l21 {
    left: 21vh;
  }
  .t22 {
    top: 22vh;
  }
  .r22 {
    right: 22vh;
  }
  .b22 {
    bottom: 22vh;
  }
  .l22 {
    left: 22vh;
  }
  .t23 {
    top: 23vh;
  }
  .r23 {
    right: 23vh;
  }
  .b23 {
    bottom: 23vh;
  }
  .l23 {
    left: 23vh;
  }
  .t24 {
    top: 24vh;
  }
  .r24 {
    right: 24vh;
  }
  .b24 {
    bottom: 24vh;
  }
  .l24 {
    left: 24vh;
  }
  .t25 {
    top: 25vh;
  }
  .r25 {
    right: 25vh;
  }
  .b25 {
    bottom: 25vh;
  }
  .l25 {
    left: 25vh;
  }
  .t26 {
    top: 26vh;
  }
  .r26 {
    right: 26vh;
  }
  .b26 {
    bottom: 26vh;
  }
  .l26 {
    left: 26vh;
  }
  .t27 {
    top: 27vh;
  }
  .r27 {
    right: 27vh;
  }
  .b27 {
    bottom: 27vh;
  }
  .l27 {
    left: 27vh;
  }
  .t28 {
    top: 28vh;
  }
  .r28 {
    right: 28vh;
  }
  .b28 {
    bottom: 28vh;
  }
  .l28 {
    left: 28vh;
  }
  .t29 {
    top: 29vh;
  }
  .r29 {
    right: 29vh;
  }
  .b29 {
    bottom: 29vh;
  }
  .l29 {
    left: 29vh;
  }
  .t30 {
    top: 30vh;
  }
  .r30 {
    right: 30vh;
  }
  .b30 {
    bottom: 30vh;
  }
  .l30 {
    left: 30vh;
  }
  .t31 {
    top: 31vh;
  }
  .r31 {
    right: 31vh;
  }
  .b31 {
    bottom: 31vh;
  }
  .l31 {
    left: 31vh;
  }
  .t32 {
    top: 32vh;
  }
  .r32 {
    right: 32vh;
  }
  .b32 {
    bottom: 32vh;
  }
  .l32 {
    left: 32vh;
  }
  .t33 {
    top: 33vh;
  }
  .r33 {
    right: 33vh;
  }
  .b33 {
    bottom: 33vh;
  }
  .l33 {
    left: 33vh;
  }
  .t34 {
    top: 34vh;
  }
  .r34 {
    right: 34vh;
  }
  .b34 {
    bottom: 34vh;
  }
  .l34 {
    left: 34vh;
  }
  .t35 {
    top: 35vh;
  }
  .r35 {
    right: 35vh;
  }
  .b35 {
    bottom: 35vh;
  }
  .l35 {
    left: 35vh;
  }
  .t36 {
    top: 36vh;
  }
  .r36 {
    right: 36vh;
  }
  .b36 {
    bottom: 36vh;
  }
  .l36 {
    left: 36vh;
  }
  .t37 {
    top: 37vh;
  }
  .r37 {
    right: 37vh;
  }
  .b37 {
    bottom: 37vh;
  }
  .l37 {
    left: 37vh;
  }
  .t38 {
    top: 38vh;
  }
  .r38 {
    right: 38vh;
  }
  .b38 {
    bottom: 38vh;
  }
  .l38 {
    left: 38vh;
  }
  .t39 {
    top: 39vh;
  }
  .r39 {
    right: 39vh;
  }
  .b39 {
    bottom: 39vh;
  }
  .l39 {
    left: 39vh;
  }
  .t40 {
    top: 40vh;
  }
  .r40 {
    right: 40vh;
  }
  .b40 {
    bottom: 40vh;
  }
  .l40 {
    left: 40vh;
  }
  .t41 {
    top: 41vh;
  }
  .r41 {
    right: 41vh;
  }
  .b41 {
    bottom: 41vh;
  }
  .l41 {
    left: 41vh;
  }
  .t42 {
    top: 42vh;
  }
  .r42 {
    right: 42vh;
  }
  .b42 {
    bottom: 42vh;
  }
  .l42 {
    left: 42vh;
  }
  .t43 {
    top: 43vh;
  }
  .r43 {
    right: 43vh;
  }
  .b43 {
    bottom: 43vh;
  }
  .l43 {
    left: 43vh;
  }
  .t44 {
    top: 44vh;
  }
  .r44 {
    right: 44vh;
  }
  .b44 {
    bottom: 44vh;
  }
  .l44 {
    left: 44vh;
  }
  .t45 {
    top: 45vh;
  }
  .r45 {
    right: 45vh;
  }
  .b45 {
    bottom: 45vh;
  }
  .l45 {
    left: 45vh;
  }
  .t46 {
    top: 46vh;
  }
  .r46 {
    right: 46vh;
  }
  .b46 {
    bottom: 46vh;
  }
  .l46 {
    left: 46vh;
  }
  .t47 {
    top: 47vh;
  }
  .r47 {
    right: 47vh;
  }
  .b47 {
    bottom: 47vh;
  }
  .l47 {
    left: 47vh;
  }
  .t48 {
    top: 48vh;
  }
  .r48 {
    right: 48vh;
  }
  .b48 {
    bottom: 48vh;
  }
  .l48 {
    left: 48vh;
  }
  .t49 {
    top: 49vh;
  }
  .r49 {
    right: 49vh;
  }
  .b49 {
    bottom: 49vh;
  }
  .l49 {
    left: 49vh;
  }
  .t50 {
    top: 50vh;
  }
  .r50 {
    right: 50vh;
  }
  .b50 {
    bottom: 50vh;
  }
  .l50 {
    left: 50vh;
  }
  .t51 {
    top: 51vh;
  }
  .r51 {
    right: 51vh;
  }
  .b51 {
    bottom: 51vh;
  }
  .l51 {
    left: 51vh;
  }
  .t52 {
    top: 52vh;
  }
  .r52 {
    right: 52vh;
  }
  .b52 {
    bottom: 52vh;
  }
  .l52 {
    left: 52vh;
  }
  .t53 {
    top: 53vh;
  }
  .r53 {
    right: 53vh;
  }
  .b53 {
    bottom: 53vh;
  }
  .l53 {
    left: 53vh;
  }
  .t54 {
    top: 54vh;
  }
  .r54 {
    right: 54vh;
  }
  .b54 {
    bottom: 54vh;
  }
  .l54 {
    left: 54vh;
  }
  .t55 {
    top: 55vh;
  }
  .r55 {
    right: 55vh;
  }
  .b55 {
    bottom: 55vh;
  }
  .l55 {
    left: 55vh;
  }
  .t56 {
    top: 56vh;
  }
  .r56 {
    right: 56vh;
  }
  .b56 {
    bottom: 56vh;
  }
  .l56 {
    left: 56vh;
  }
  .t57 {
    top: 57vh;
  }
  .r57 {
    right: 57vh;
  }
  .b57 {
    bottom: 57vh;
  }
  .l57 {
    left: 57vh;
  }
  .t58 {
    top: 58vh;
  }
  .r58 {
    right: 58vh;
  }
  .b58 {
    bottom: 58vh;
  }
  .l58 {
    left: 58vh;
  }
  .t59 {
    top: 59vh;
  }
  .r59 {
    right: 59vh;
  }
  .b59 {
    bottom: 59vh;
  }
  .l59 {
    left: 59vh;
  }
  .t60 {
    top: 60vh;
  }
  .r60 {
    right: 60vh;
  }
  .b60 {
    bottom: 60vh;
  }
  .l60 {
    left: 60vh;
  }
  .t61 {
    top: 61vh;
  }
  .r61 {
    right: 61vh;
  }
  .b61 {
    bottom: 61vh;
  }
  .l61 {
    left: 61vh;
  }
  .t62 {
    top: 62vh;
  }
  .r62 {
    right: 62vh;
  }
  .b62 {
    bottom: 62vh;
  }
  .l62 {
    left: 62vh;
  }
  .t63 {
    top: 63vh;
  }
  .r63 {
    right: 63vh;
  }
  .b63 {
    bottom: 63vh;
  }
  .l63 {
    left: 63vh;
  }
  .t64 {
    top: 64vh;
  }
  .r64 {
    right: 64vh;
  }
  .b64 {
    bottom: 64vh;
  }
  .l64 {
    left: 64vh;
  }
  .t65 {
    top: 65vh;
  }
  .r65 {
    right: 65vh;
  }
  .b65 {
    bottom: 65vh;
  }
  .l65 {
    left: 65vh;
  }
  .t66 {
    top: 66vh;
  }
  .r66 {
    right: 66vh;
  }
  .b66 {
    bottom: 66vh;
  }
  .l66 {
    left: 66vh;
  }
  .t67 {
    top: 67vh;
  }
  .r67 {
    right: 67vh;
  }
  .b67 {
    bottom: 67vh;
  }
  .l67 {
    left: 67vh;
  }
  .t68 {
    top: 68vh;
  }
  .r68 {
    right: 68vh;
  }
  .b68 {
    bottom: 68vh;
  }
  .l68 {
    left: 68vh;
  }
  .t69 {
    top: 69vh;
  }
  .r69 {
    right: 69vh;
  }
  .b69 {
    bottom: 69vh;
  }
  .l69 {
    left: 69vh;
  }
  .t70 {
    top: 70vh;
  }
  .r70 {
    right: 70vh;
  }
  .b70 {
    bottom: 70vh;
  }
  .l70 {
    left: 70vh;
  }
  .t71 {
    top: 71vh;
  }
  .r71 {
    right: 71vh;
  }
  .b71 {
    bottom: 71vh;
  }
  .l71 {
    left: 71vh;
  }
  .t72 {
    top: 72vh;
  }
  .r72 {
    right: 72vh;
  }
  .b72 {
    bottom: 72vh;
  }
  .l72 {
    left: 72vh;
  }
  .t73 {
    top: 73vh;
  }
  .r73 {
    right: 73vh;
  }
  .b73 {
    bottom: 73vh;
  }
  .l73 {
    left: 73vh;
  }
  .t74 {
    top: 74vh;
  }
  .r74 {
    right: 74vh;
  }
  .b74 {
    bottom: 74vh;
  }
  .l74 {
    left: 74vh;
  }
  .t75 {
    top: 75vh;
  }
  .r75 {
    right: 75vh;
  }
  .b75 {
    bottom: 75vh;
  }
  .l75 {
    left: 75vh;
  }
  .t76 {
    top: 76vh;
  }
  .r76 {
    right: 76vh;
  }
  .b76 {
    bottom: 76vh;
  }
  .l76 {
    left: 76vh;
  }
  .t77 {
    top: 77vh;
  }
  .r77 {
    right: 77vh;
  }
  .b77 {
    bottom: 77vh;
  }
  .l77 {
    left: 77vh;
  }
  .t78 {
    top: 78vh;
  }
  .r78 {
    right: 78vh;
  }
  .b78 {
    bottom: 78vh;
  }
  .l78 {
    left: 78vh;
  }
  .t79 {
    top: 79vh;
  }
  .r79 {
    right: 79vh;
  }
  .b79 {
    bottom: 79vh;
  }
  .l79 {
    left: 79vh;
  }
  .t80 {
    top: 80vh;
  }
  .r80 {
    right: 80vh;
  }
  .b80 {
    bottom: 80vh;
  }
  .l80 {
    left: 80vh;
  }
  .t81 {
    top: 81vh;
  }
  .r81 {
    right: 81vh;
  }
  .b81 {
    bottom: 81vh;
  }
  .l81 {
    left: 81vh;
  }
  .t82 {
    top: 82vh;
  }
  .r82 {
    right: 82vh;
  }
  .b82 {
    bottom: 82vh;
  }
  .l82 {
    left: 82vh;
  }
  .t83 {
    top: 83vh;
  }
  .r83 {
    right: 83vh;
  }
  .b83 {
    bottom: 83vh;
  }
  .l83 {
    left: 83vh;
  }
  .t84 {
    top: 84vh;
  }
  .r84 {
    right: 84vh;
  }
  .b84 {
    bottom: 84vh;
  }
  .l84 {
    left: 84vh;
  }
  .t85 {
    top: 85vh;
  }
  .r85 {
    right: 85vh;
  }
  .b85 {
    bottom: 85vh;
  }
  .l85 {
    left: 85vh;
  }
  .t86 {
    top: 86vh;
  }
  .r86 {
    right: 86vh;
  }
  .b86 {
    bottom: 86vh;
  }
  .l86 {
    left: 86vh;
  }
  .t87 {
    top: 87vh;
  }
  .r87 {
    right: 87vh;
  }
  .b87 {
    bottom: 87vh;
  }
  .l87 {
    left: 87vh;
  }
  .t88 {
    top: 88vh;
  }
  .r88 {
    right: 88vh;
  }
  .b88 {
    bottom: 88vh;
  }
  .l88 {
    left: 88vh;
  }
  .t89 {
    top: 89vh;
  }
  .r89 {
    right: 89vh;
  }
  .b89 {
    bottom: 89vh;
  }
  .l89 {
    left: 89vh;
  }
  .t90 {
    top: 90vh;
  }
  .r90 {
    right: 90vh;
  }
  .b90 {
    bottom: 90vh;
  }
  .l90 {
    left: 90vh;
  }
  .t91 {
    top: 91vh;
  }
  .r91 {
    right: 91vh;
  }
  .b91 {
    bottom: 91vh;
  }
  .l91 {
    left: 91vh;
  }
  .t92 {
    top: 92vh;
  }
  .r92 {
    right: 92vh;
  }
  .b92 {
    bottom: 92vh;
  }
  .l92 {
    left: 92vh;
  }
  .t93 {
    top: 93vh;
  }
  .r93 {
    right: 93vh;
  }
  .b93 {
    bottom: 93vh;
  }
  .l93 {
    left: 93vh;
  }
  .t94 {
    top: 94vh;
  }
  .r94 {
    right: 94vh;
  }
  .b94 {
    bottom: 94vh;
  }
  .l94 {
    left: 94vh;
  }
  .t95 {
    top: 95vh;
  }
  .r95 {
    right: 95vh;
  }
  .b95 {
    bottom: 95vh;
  }
  .l95 {
    left: 95vh;
  }
  .t96 {
    top: 96vh;
  }
  .r96 {
    right: 96vh;
  }
  .b96 {
    bottom: 96vh;
  }
  .l96 {
    left: 96vh;
  }
  .t97 {
    top: 97vh;
  }
  .r97 {
    right: 97vh;
  }
  .b97 {
    bottom: 97vh;
  }
  .l97 {
    left: 97vh;
  }
  .t98 {
    top: 98vh;
  }
  .r98 {
    right: 98vh;
  }
  .b98 {
    bottom: 98vh;
  }
  .l98 {
    left: 98vh;
  }
  .t99 {
    top: 99vh;
  }
  .r99 {
    right: 99vh;
  }
  .b99 {
    bottom: 99vh;
  }
  .l99 {
    left: 99vh;
  }
  .t100 {
    top: 100vh;
  }
  .r100 {
    right: 100vh;
  }
  .b100 {
    bottom: 100vh;
  }
  .l100 {
    left: 100vh;
  }
}
/*# sourceMappingURL=position.css.map */